:root {
    font-size: 16px;
    color: aliceblue;
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.carousel-frame {
    width: 100%;
    max-width: 700px;
    position: relative;
    padding: 10px;
}

.slide {
    display: flex;
    width: 100%;
    height: 400px;
    position: relative;
}

.slide img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.nav-dot-container {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 30px;
}

.nav-dot {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
}

.nav-dot:hover, .active {
    background-color: rgb(91, 91, 91);
    transition: ease 500ms;
}

.img-number, .caption, .prev-slide-btn, .next-slide-btn  {
    position: absolute;
    background: linear-gradient(0deg, rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0));
    padding: 3px;
    border-radius: 6px;
    margin: 5px;
}

.img-number {
    top: 0px;
    left: 0px;
}

.caption {
    text-align: center;
    bottom: 0px;
}

.prev-slide-btn {
    left: 0px;
    top: 50%;
}
.next-slide-btn {
    right: 0px;
    top: 50%;
}

a:link {
    text-decoration: none;
    color: inherit;
}

a:hover {
    filter: drop-shadow(0px 0px 3px rgb(137, 137, 247));
}